body {
    margin: 0;
    font-family: 'Playwrite GB S', sans-serif;
    background-color: #DDDDDD;
    color: #F25287;
    text-align: center;
}

header {
    background-color: #F9F3F3;
    padding: 1rem;
}

h1 {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    color: #F25287;
}

nav {
    margin-top: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #F25287;
    font-weight: bold;
}
